[Desktop Entry]
Type=Application
Name=joplin
Icon=joplin
Categories=Office
GenericName=Note Application
GenericName[ja]=ノートアプリ
Exec=/bin/bash -c "${HOME}/Appimage/joplin/Joplin.AppImage"
